@using WebAppRenderModes.Shared.Models.Weather
@using WebAppRenderModes.Shared.Utilities

<Grid TItem="DailyWeatherInfo" DataProvider="WeatherInfoDataProvider" AllowFiltering="false" AllowPaging="false" 
      AllowSorting="false" Class="table table-hover table-bordered table-striped" FixedHeader="true" >
    <GridColumn TItem="DailyWeatherInfo" HeaderText="Date" HeaderTextAlignment="Alignment.Center"
                TextAlignment="Alignment.Center">
        <FlexContainer>
            <p>@context.Date.DayOfWeek.ToString()</p>
            <p>@context.Date.ToShortDateString()</p>
        </FlexContainer>
    </GridColumn>
    <GridColumn TItem="DailyWeatherInfo" HeaderText="Forecast" HeaderTextAlignment="Alignment.Center" 
                TextAlignment="Alignment.Center">
        @{
            int weatherCode = context.WeatherCode ?? 0;
            string iconClass = WeatherCodeUtility.GetIconClass(weatherCode);
            string displayClass = string.Concat("wi", " ", iconClass); // Weather Icon CSS needs "wi" plus the icon class, i.e. "wi wi-day-sunny"
            string description = WeatherCodeUtility.GetDescription(weatherCode);
            
            <FlexContainer Height="6rem">
                <Icon CustomIconName="@(displayClass)" Size="IconSize.x3" style="margin-bottom:  1rem;"/>
                <p>@description</p>
            </FlexContainer>
        }
    </GridColumn>
    <GridColumn TItem="DailyWeatherInfo" HeaderText="Min Temp" HeaderTextAlignment="Alignment.Center"
                TextAlignment="Alignment.Center">
        <FlexContainer Height="6rem">
            @string.Concat(context.TemperatureTwoMeterMin, "\u00b0 ", "Celsius")
        </FlexContainer>
    </GridColumn>
    <GridColumn TItem="DailyWeatherInfo" HeaderText="Max Temp" HeaderTextAlignment="Alignment.Center"
                TextAlignment="Alignment.Center">
        <FlexContainer Height="6rem">
            @string.Concat(context.TemperatureTwoMeterMax, "\u00b0 ", "Celsius")
        </FlexContainer>
    </GridColumn>
    
    <GridColumn TItem="DailyWeatherInfo" HeaderText="Total Precipitation" HeaderTextAlignment="Alignment.Center"
                TextAlignment="Alignment.Center">
        <FlexContainer Height="6rem">
            @string.Concat(context.PrecipitationSum, " ", "mm")
        </FlexContainer>
    </GridColumn>
    <GridColumn TItem="DailyWeatherInfo" HeaderText="Max Wind Speed" HeaderTextAlignment="Alignment.Center"
                TextAlignment="Alignment.Center">
        <FlexContainer Height="6rem">
            @string.Concat(context.WindSpeedTenMeterMax, " ", "km/h")
        </FlexContainer>
    </GridColumn>
    <GridColumn TItem="DailyWeatherInfo" HeaderText="Max Wind Gust Speed" HeaderTextAlignment="Alignment.Center"
                TextAlignment="Alignment.Center">
        <FlexContainer Height="6rem">
            @string.Concat(context.WindGustsTenMeterMax, " ", "km/h")
        </FlexContainer>
    </GridColumn>
</Grid>
@*
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">Date</th>
        <th scope="col">Weather Code</th>
        <th scope="col">Max Temp</th>
        <th scope="col">Min Temp</th>
        <th scope="col">Total Precipitation</th>
        <th scope="col">Max Wind Speed</th>
        <th scope="col">Max Wind Gust Speed</th>
    </tr>
    </thead>
    <tbody>
    @foreach (DailyWeatherInfo weatherData in DailyWeatherInfo)
    {
        <tr>
            <th scope="row">@(weatherData.Date.ToShortDateString())</th>
            <td>@weatherData.WeatherCode</td>
            <td>@(string.Concat(weatherData.TemperatureTwoMeterMax, " ", "Celsius"))</td>
            <td>@(string.Concat(weatherData.TemperatureTwoMeterMin, " ", "Celsius"))</td>
            <td>@weatherData.PrecipitationSum</td>
            <td>@(string.Concat(weatherData.WindSpeedTenMeterMax, " ", "km/h"))</td>
            <td>@(string.Concat(weatherData.WindGustsTenMeterMax, " ", "km/h"))</td>
        </tr>
    }
    </tbody>
</table>
*@