@using WebAppRenderModes.Shared.Models.Weather
@using WebAppRenderModes.Shared.Utilities

<Grid TItem="DailyWeatherInfo" DataProvider="WeatherInfoDataProvider" AllowFiltering="false" AllowPaging="false" 
      AllowSorting="false" Class="table table-hover table-bordered table-striped" FixedHeader="true" >
    <GridColumn TItem="DailyWeatherInfo" HeaderText="Date" TextAlignment="Alignment.Center">
        <p>@context.Date.DayOfWeek.ToString()</p>
        <p>@context.Date.ToShortDateString()</p>
    </GridColumn>
    <GridColumn TItem="DailyWeatherInfo" HeaderText="Forecast" TextAlignment="Alignment.Center">
        @{
            int weatherCode = context.WeatherCode ?? 0;
            string iconClass = WeatherCodeUtility.GetIconClass(weatherCode);
            string displayClass = string.Concat("wi", " ", iconClass);
            string description = WeatherCodeUtility.GetDescription(weatherCode);
            
            <div><Icon CustomIconName="@(displayClass)" Size="IconSize.x3"/></div>
            <p>@description</p>
        }
    </GridColumn>
    <GridColumn TItem="DailyWeatherInfo" HeaderText="Min Temp" TextAlignment="Alignment.Center">
        @string.Concat(context.TemperatureTwoMeterMin, "\u00b0 ", "Celsius")
    </GridColumn>
    <GridColumn TItem="DailyWeatherInfo" HeaderText="Max Temp" TextAlignment="Alignment.Center">
        @string.Concat(context.TemperatureTwoMeterMax, "\u00b0 ", "Celsius")
    </GridColumn>
    
    <GridColumn TItem="DailyWeatherInfo" HeaderText="Total Precipitation" TextAlignment="Alignment.Center">
        @(string.Concat(context.PrecipitationSum, " ", "mm"))
    </GridColumn>
    <GridColumn TItem="DailyWeatherInfo" HeaderText="Max Wind Speed" TextAlignment="Alignment.Center">
        @string.Concat(context.WindSpeedTenMeterMax, " ", "km/h")
    </GridColumn>
    <GridColumn TItem="DailyWeatherInfo" HeaderText="Max Wind Gust Speed" TextAlignment="Alignment.Center">
        @string.Concat(context.WindGustsTenMeterMax, " ", "km/h")
    </GridColumn>
</Grid>
@*
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">Date</th>
        <th scope="col">Weather Code</th>
        <th scope="col">Max Temp</th>
        <th scope="col">Min Temp</th>
        <th scope="col">Total Precipitation</th>
        <th scope="col">Max Wind Speed</th>
        <th scope="col">Max Wind Gust Speed</th>
    </tr>
    </thead>
    <tbody>
    @foreach (DailyWeatherInfo weatherData in DailyWeatherInfo)
    {
        <tr>
            <th scope="row">@(weatherData.Date.ToShortDateString())</th>
            <td>@weatherData.WeatherCode</td>
            <td>@(string.Concat(weatherData.TemperatureTwoMeterMax, " ", "Celsius"))</td>
            <td>@(string.Concat(weatherData.TemperatureTwoMeterMin, " ", "Celsius"))</td>
            <td>@weatherData.PrecipitationSum</td>
            <td>@(string.Concat(weatherData.WindSpeedTenMeterMax, " ", "km/h"))</td>
            <td>@(string.Concat(weatherData.WindGustsTenMeterMax, " ", "km/h"))</td>
        </tr>
    }
    </tbody>
</table>
*@