<div class="card" style="width: 18rem;">
    <img src="@Pokemon.Sprites.Other.OfficialArtwork.FrontDefault" class="card-img-top" alt="@(Pokemon.Name + " Official Artwork")"/>
    <div class="card-header">
        @Pokemon.Name
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Species: @Pokemon.Species.Name</li>
        <li class="list-group-item">Weight (kg): @Pokemon.Weight</li>
        <li class="list-group-item">Height (cm): @Pokemon.Height</li>
    </ul>
</div>

